body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}
/*header*/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff100;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/*main*/
main{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
/*article*/
article{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff100;
    border-radius: 15px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 15px;
}
.image img{
    width: 150px;
    border-radius: 50%;
    object-fit: cover;/*上の要素と一致する*/
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #fff100;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.follow{
    display: flex;
    align-items: center;
}
.button{
    display: block;
    margin: 30px;
    cursor: pointer;
    background-color: #fff100;
    color: #333;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    filter: brightness(1);
}
.button:hover{
    filter: brightness(1.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.link-list{
    list-style-type: none;
    padding: 0;
}
.link-list a{
    text-decoration: none;
    color: #fff100;
    transition: filter 0.3s ease;
    filter: brightness(1);
}
.link-list a:hover{
    filter: brightness(1.2);
}